<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Your trips</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="/trips">Your trips</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a class="nav-link" href="/"><span class="navbar-text" th:text="${user}"></span> <span class="fa fa-user"></span> Change user</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row p-4">
            <div class="container col p-4">
                <div th:if="${trips != null && !trips.isEmpty()}">
                    <h2>Your trips</h2>
                    <ul class="list-group">
                        <li th:each="trip : ${trips}" class="list-group-item">
                            <a th:href="@{/trips/{tripName}(tripName=${trip.name})}" th:text="${trip.name}"></a>
                        </li>
                    </ul>
                </div>
                <div th:if="${trips == null || trips.isEmpty()}">
                    <p>You have no trips</p>
                </div>
            </div>

            <div class="container form-group col border p-4">
                <h2>Add a trip</h2>
                <form th:action="@{/trips}" th:object="${trip}" method="POST">
                    <div class="form-group">
                        <label>Trip name<br>
                            <input type="text" required="required" th:field="*{name}" class="form-control">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Date from<br>
                            <input type="date" th:field="*{from}" class="form-control">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Date to<br>
                            <input type="date" th:field="*{to}" class="form-control">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Other participants (please enter usernames with commas between them)<br>
                            <input type="text" th:field="*{participants}" class="form-control">
                        </label>
                    </div>
                    <input type="submit" value="Add" class="btn btn-primary">
                    <input type="reset" value="Reset" class="btn">

                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
</html>